<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831243651820-338ntn7jmb3vrcffapatr29mckdcee83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831243651820-338ntn7jmb3vrcffapatr29mckdcee83</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831243651820-j7uk0tvj6ak4rhvufsbvedtt44hr50ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpJD2WtlMpFGwOv-Nn7m7--05jX8B1oKo</string>
	<key>GCM_SENDER_ID</key>
	<string>831243651820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rybolovapp</string>
	<key>PROJECT_ID</key>
	<string>site-app-y2acg1</string>
	<key>STORAGE_BUCKET</key>
	<string>site-app-y2acg1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831243651820:ios:638044cd8b2d01651af3c9</string>
</dict>
</plist>